@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
select.form-control {
  color: #9C9B9B;
}
.btn-primary {
  background-color: #0043b1;
  border-color: #0043b1;
}
body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  counter-reset: nav1;
}
.container {
  padding-right: 0px;
  padding-left: 0px;
}
/* alterando o grip para 960 */
@media (min-width: 1200px) {
  .container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    max-width: 960px;
  }
}
/* ==========================================================================
 Cabeçalho
 ========================================================================== */
header {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
header .top {
  padding: 14px 0 0 0;
  background-color: #1659bf;
}
header .top a {
  color: #dcecff !important;
}
header .top nav ul {
  list-style: none;
  float: left;
  width: 50%;
  font-size: 10px;
}
header .top nav ul li {
  display: inline;
}
header .top nav ul li::after {
  background: white;
  color: #2d2e82;
  counter-increment: nav1;
  content: counter(nav1);
  padding: 1px 3px;
  margin-right: 8px;
}
header .top #portal-siteactions {
  border-bottom: 1px dotted #6893cb;
  list-style: none;
}
header .top #portal-siteactions li {
  display: inline;
  margin-right: 0.5em;
  text-transform: uppercase;
  font-size: 10px;
}
header .top #portal-siteactions li a {
  padding: 4px 0 4px 10px;
  text-decoration: none;
}
header .top #portal-siteactions {
  display: block;
  float: right;
  clear: none;
  padding-bottom: 2px;
  font-size: 0.93em;
  text-align: center;
}
header .top #logo {
  float: left;
  padding: 0;
  color: white;
  position: relative;
}
header .top #logo span {
  position: absolute;
  display: block;
  line-height: 1em;
}
header .top #logo #portal-title {
  margin: 0;
  margin: 20px 0 46px;
  color: #fff;
  font-size: 3.35em;
  font-family: 'Open Sans' Arial, Helvetica, sans-serif;
  font-weight: 800;
  line-height: 1em;
}
header .sub-top {
  clear: both;
  margin: 0;
  padding: 5px 0;
  max-width: 100% !important;
  line-height: 20px;
  background: #0f4098;
}
header .sub-top ul {
  margin: 0 auto;
  max-width: 960px;
  text-align: right;
  line-height: 20px;
}
header .sub-top ul li {
  display: inline;
  border-right: 1px solid white;
  margin-right: 10px;
  padding-right: 10px;
}
header .sub-top ul li:last-child {
  margin-right: 0px;
  border-right: none;
}
/* ==========================================================================
 fim do Cabeçalho
 ========================================================================== */
#portal-breadcrumbs {
  margin-top: 19px;
  margin-bottom: 19px;
  text-transform: uppercase;
  font-size: 10px;
}
#portal-breadcrumbs a {
  color: #2C66CE;
}
.title-header {
  border-top: 2px solid #00439e;
  background: #eeeff1;
  padding: 6px 15px;
  padding-right: 0px;
  color: #00439e;
  margin-top: 0px;
  margin-bottom: 20px;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #1659bf;
  border-color: #1659bf;
}
/* ==========================================================================
  footer
  ========================================================================== */
footer {
  color: white;
  padding: 20px 0;
  padding-bottom: 5px;
  margin-top: 70px;
  min-height: 50px;
}
footer a {
  color: white;
}
footer a:hover {
  color: white;
}
footer .doormatSection {
  border-left: 1px dotted #fff;
  padding-left: .4em;
}
footer .doormatSection dt {
  padding-left: .7em;
  font-size: 1.2em;
}
footer .doormatSection dd {
  padding: .5em 1.2em 0 1em;
}
footer .content {
  background: #1659bf;
  width: 100%;
  padding: 20px 0;
}
footer > .container {
  margin-top: 20px;
}
footer .footer-logos {
  background: #0042b1;
  padding: 2em 0;
  max-width: 100%;
}
footer .extra-footer .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .extra-footer .container img {
  margin-top: 10px;
}
footer .doormatColumn {
  width: 22%;
  float: left;
}
/* ==========================================================================
 fim do footer
 ========================================================================== */
.index {
  /* ==========================================================================
   fim do main
   ========================================================================== */
  /* ==========================================================================
   fim do main
   ========================================================================== */
}
.index main p {
  font-size: 15px;
  line-height: 21px;
}
.index main .col-1 {
  width: 47.2%;
  margin-top: 30px;
  float: left;
}
.index main .col-2 {
  width: 72.1%;
  float: left;
}
.index main .remove-margin {
  margin: 0px;
}
.index main aside {
  float: left;
  width: 23.8%;
  position: relative;
}
.index main .espace-left {
  margin-left: 30px;
}
.index main .espace-right {
  margin-right: 30px;
}
.index main .mt-form-group {
  margin-top: 18px;
}
.index main .banner {
  margin-top: 45px;
  margin-bottom: 20px;
}
.index main .lista-vertical {
  border: 1px solid #c0c1c3;
  -webkit-border-radius: 5px;
  margin-top: 38px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #eeeff1 !important;
}
.index main .tile {
  clear: both;
  margin-bottom: 1.8em;
}
.index main .lista-vertical .tile-header,
.index main .lista-vertical .tile-title,
.index main .lista-vertical .collection-header,
.index main .lista-vertical .collection-title {
  margin: 0;
  padding: 0.5em 1em;
  border-bottom: 1px solid #c0c1c3;
  color: #464a53;
  text-transform: uppercase;
}
.index main .lista-vertical .collection-item {
  display: block;
  clear: both;
  margin: 0;
  padding: 0 9px;
  border-bottom: 1px dotted #c1c2c2;
  position: relative;
}
.index main .lista-vertical .collection-item h3 {
  font-size: 1.16em;
}
.index main .tile-footer {
  text-align: right;
  font-size: 14px;
  text-transform: uppercase;
}
.busca .quantidade {
  margin-top: 20px;
}
.busca .resultados {
  margin-top: 30px;
}
.busca .resultados div.col-md-12 {
  border-top: 1px solid black;
}
.busca .resultados div.col-md-12:last-child {
  border-bottom: 1px solid black;
}
.busca .resultados p {
  margin: 17px 0;
}
.busca .resultados p a {
  color: black;
}
.busca .resultados p a:hover {
  opacity: 0.6;
  text-decoration: underline;
}
.busca .resultados .crms {
  margin: 17px 0;
}
.busca .resultados .crms li {
  display: inline;
  margin-right: 29px;
}
.busca .resultados .crms li a {
  color: black;
}
.busca .resultados .crms li a:hover {
  opacity: 0.6;
  text-decoration: underline;
}
.busca .resultados .crms li:last-child {
  margin-right: 0px;
}
.busca .col-md-9 {
  padding-left: 0px;
}
.busca .col-md-3 {
  padding-right: 0px;
}
.busca .pagination {
  margin-top: 35px;
}
.busca .resultado-busca p {
  margin-bottom: 2px;
  margin-top: 5px;
}
.col-3 {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .index main .col-2 {
    width: 100%;
    float: none;
  }
  .banner {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 25px;
  }
  .index main aside {
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  header .top nav ul {
    width: 100%;
  }
  .index main .col-1 {
    width: 100%;
  }
}
