.index {

  main {

    p {
      font-size: 15px;
      line-height: 21px;
    }

    .banner {
      margin-top: 45px;
      margin-bottom: 20px;
    }

    .reduce-font {
      font-size: 27px;
    }

  }


}
