.index {

  main {


    p {
      font-size: 15px;
      line-height: 21px;
    }


    .col-1 {
      width: 47.2%;
      margin-top: 30px;
      float: left;
    }
    .col-2 {
      width: 72.1%;
      float: left;
    }

    .remove-margin {
      margin: 0px;
    }

    aside {
      float: left;
      width: 23.8%;
      position: relative;
    }

    .espace-left {
      margin-left: 30px;
    }

    .espace-right {
      margin-right: 30px;
    }


    .mt-form-group {
        margin-top: 18px;
    }

    .banner {
      margin-top: 45px;
      margin-bottom: 20px;
    }


    .lista-vertical {
        border: 1px solid #c0c1c3;
        -webkit-border-radius: 5px;
        margin-top: 38px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #eeeff1 !important;
    }

    .tile {
        clear: both;
        margin-bottom: 1.8em;
    }

    .lista-vertical .tile-header, .lista-vertical .tile-title, .lista-vertical .collection-header, .lista-vertical .collection-title {
        margin: 0;
        padding: 0.5em 1em;
        border-bottom: 1px solid #c0c1c3;
        color: #464a53;
        text-transform: uppercase;
    }

    .lista-vertical .collection-item {
        display: block;
        clear: both;
        margin: 0;
        padding: 0 9px;
        border-bottom: 1px dotted #c1c2c2;
        position: relative;

        h3 {
          font-size: 1.16em;
        }
    }

    .tile-footer {
      text-align: right;
      font-size: 14px;
      text-transform: uppercase;
    }


  }

  /* ==========================================================================
   fim do main
   ========================================================================== */





  /* ==========================================================================
   fim do main
   ========================================================================== */






}
