@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);
@import "mixins.less";


* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

select.form-control {
    color: #9C9B9B;
}

.btn-primary {
  background-color: @azul2;
  border-color: @azul2;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  counter-reset: nav1;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

/* alterando o grip para 960 */
@media (min-width: 1200px) {
  .container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    max-width: 960px;
  }
}

.col-1 {
  width: 47.2%;
  margin-top: 30px;
  float: left;
}
.col-2 {
  width: 72.1%;
  float: left;
}

.remove-margin {
  margin: 0px;
}

aside {
  float: left;
  width: 23.8%;
  position: relative;
}


#mapa {
    margin: 0;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.dataTables_wrapper {
  margin-top: 50px;
}

thead {
  color:#2160BD;
  background: #EAEBEE;

  th {
    text-align: center;
    vertical-align: middle !important ;
    font-weight: 500;
  }
}

.table-bordered {
  border: 1px solid #9C9B9B;
  border-radius: 4px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-left: 1px solid #9C9B9B;
  border-right: 1px solid #9C9B9B;
}

.table-bordered th:first-child {
    -moz-border-radius: 4px 0 0 0; -webkit-border-radius: 4px 0 0 0; border-radius: 4px 0 0 0;
}


.espace-left {
  margin-left: 30px;
}

.espace-right {
  margin-right: 30px;
}


.mt-form-group {
    margin-top: 18px;
}


.lista-vertical {
    border: 1px solid #c0c1c3;
    -webkit-border-radius: 5px;
    margin-top: 38px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #eeeff1 !important;
}

.tile {
    clear: both;
    margin-bottom: 1.8em;
}

.lista-vertical .tile-header, .lista-vertical .tile-title, .lista-vertical .collection-header, .lista-vertical .collection-title {
    margin: 0;
    padding: 0.5em 1em;
    border-bottom: 1px solid #c0c1c3;
    color: #464a53;
    text-transform: uppercase;
}

.lista-vertical .collection-item {
    display: block;
    clear: both;
    margin: 0;
    padding: 0 9px;
    border-bottom: 1px dotted #c1c2c2;
    position: relative;

    h3 {
      font-size: 1.16em;
    }
}

.tile-footer {
  text-align: right;
  font-size: 14px;
  text-transform: uppercase;
}


/* ==========================================================================
 Cabeçalho
 ========================================================================== */
header {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  .top {
    padding: 14px 0 0 0;
    background-color: #1659bf;

    a {
      color: #dcecff !important;
    }


    nav {
        ul {
          list-style: none;
          float: left;
          width: 50%;
          font-size: 10px;

          li {
            display: inline;
            &::after {
              background: white;
              color: @azul1;
              counter-increment: nav1;
              content: counter(nav1);
              padding: 1px 3px;
              margin-right: 8px;
            }
            a {

            }
          }
        }
    }

    #portal-siteactions {
        border-bottom: 1px dotted #6893cb;
        list-style: none;

        li {
          display: inline;
          margin-right: 0.5em;
          text-transform: uppercase;
          font-size: 10px;

          a {
            padding: 4px 0 4px 10px;
            text-decoration: none;
          }
        }
    }

    #portal-siteactions {
        display: block;
        float: right;
        clear: none;
        padding-bottom: 2px;
        font-size: 0.93em;
        text-align: center;
    }

    #logo {
      float: left;
      padding: 0;
      color: white;
      position: relative;

      span {
          position: absolute;
          display: block;
          line-height: 1em;
      }


      #portal-title {
          margin: 0;
          margin: 20px 0 46px;
          color: #fff;
          font-size: 2.8em;
          font-family: 'Open Sans' Arial, Helvetica, sans-serif;
          font-weight: 800;
          line-height: 1em;
      }
    }

  }

  .sub-top {
    clear: both;
    margin: 0;
    padding: 5px 0;
    max-width: 100% !important;
    line-height: 20px;
    background: #0f4098;

    ul {
      margin: 0 auto;
      max-width: 960px;
      text-align: right;
      line-height: 20px;

      li {
        display: inline;
        border-right: 1px solid white;
        margin-right: 10px;
        padding-right: 10px;
        &:last-child {
          margin-right: 0px;
          border-right: none;
        }

        a {
          color: white;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

}

/* ==========================================================================
 fim do Cabeçalho
 ========================================================================== */

 #portal-breadcrumbs {
   margin-top: 19px;
   margin-bottom: 19px;
   text-transform: uppercase;
   font-size: 10px;

   a {
       color: #2C66CE;
   }
 }


.title-header {
   border-top:2px solid #00439e;
   background: #eeeff1;
   padding: 6px 15px;
   padding-right: 0px;
   color: #2160BD;
   margin-top: 0px;
   margin-bottom: 20px;
   font-weight: bold;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: @azul3;
    border-color: @azul3;
}

 /* ==========================================================================
  footer
  ========================================================================== */
footer {

  color: white;
  padding: 20px 0;
  padding-bottom: 5px;
  margin-top: 70px;
  min-height:50px;

  a {
    color: white;
    &:hover {
      color: white;
    }
  }

  .doormatSection{
      border-left: 1px dotted #fff;
      padding-left: .4em;

      dt {
        padding-left: .7em;
        font-size: 1.2em;
      }

      dd {
        padding: .5em 1.2em 0 1em;
      }
  }

  .content {
     background: @azul3;
     width: 100%;
     padding: 20px 0;
  }

  >.container {
    margin-top: 20px
  }


  .footer-logos {
    background: #0042b1;
    padding: 2em 0;
     max-width: 100%;
  }

  .extra-footer {
    .container {
         padding-top: 20px;
         padding-bottom: 20px;

         img {
           margin-top: 10px;
         }
     }
  }

  .doormatColumn {
      width: 22%;
      float: left;
  }

}

/* ==========================================================================
 fim do footer
 ========================================================================== */

/* ==========================================================================
Mapa do site
 ========================================================================== */

 #content .visualNoMarker {
     list-style: none;
     margin-left: 0;
 }

 #content li {
    margin-bottom: 0.25em;
    list-style: square outside;
    line-height: 1.5em !important;
}

#portal-sitemap > li {
    border-bottom: 0.1em dotted #ddd;
    line-height: 1.8em;
    padding: 0.25em 1em;
    margin-bottom: 0;
}

.navTreeLevel2, .navTreeLevel2 ul {
    font-size: 90%;
    font-weight: normal;
    margin-bottom: 0;
    padding: 0.25em 0;
    margin-left: 2em;
}


/* ==========================================================================
Fim do Mapa do site
 ========================================================================== */


@import "index.less";
@import "busca.less";
@import "area-medico.less";
@import "login.less";
@import "media.less";
